{% extends 'email/email_base.html' %}
{% block caption %}
    Hi, {{order.customer.name}}!
{% endblock %}
{% block content %}
    Your feedback is so important. Just a friendly reminder to rate your order from {% if order.sub_branding %} {{order.sub_branding}} {% else %} {{ order.merchant }} {% endif %}. <br>
    Follow the link below
{% endblock %}

{% block link %}
    <a class="mcnButton " title="RATE THE DELIVERY SERVICES" href="{{ order.get_order_url }}" target="_blank" style="padding:0 40px;font-weight: normal;letter-spacing: 3px;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;">RATE THE DELIVERY SERVICES</a>
{% endblock %}

{% block empty %}
{% endblock %}
