<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Locations</title>
    <link rel="stylesheet" type="text/css" href="analyze_drivers_locations.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
    <div id="map"></div>

    <div class="legend" style="z-index: 0; position: absolute; bottom: 20px; left: 0px;" >
        <div><img src="{{ icons_url.DELIVERY }}"/> Delivery address</div><br/>
        <div><img src="{{ icons_url.SNAPPED_GOOD }}"/> Snapped without api requests</div><br/>
        <div><img src="{{ icons_url.SNAPPED_CURRENTLY_NO_REQUESTS }}"/> Snapped without requests<br/>(previous there was api request)</div><br/>
        <div><img src="{{ icons_url.SNAPPED_WITH_REQUESTS }}"/> Snapped with requests to api</div><br/>
        <div><img src="{{ icons_url.REAL_LOCATION }}"/> Real location</div>
        <hr/>
        <div>Index: {{ chosenLocationIndex }}</div>
        <div>New Requests: {{ chosenLocation.requests }}</div>
        <div>Old Requests: {{ chosenLocation.coordinate.google_requests }}</div>
        <div>Bearing: {{ chosenLocation.coordinate.bearing.toFixed(4) }}</div>
        <div>Accuracy: {{ chosenLocation.coordinate.accuracy }}</div>
        <div>Speed: {{ chosenLocation.coordinate.speed.toFixed(4) }}</div>
        <div>Orders: {{ chosenLocation.coordinate.in_progress_orders }}</div>
        <div>Time: {{ chosenLocation.time }}</div>
        <div>Distance Diff: {{ chosenLocation.distance_diff.toFixed(4) }}</div>
        <div>Reason: {{ chosenLocation.re_build_reason }}</div>
        <button ng-click="showExpectedRoute(chosenLocationIndex)">Show path</button>
        <button ng-click="showPrevExpectedRoute(chosenLocationIndex)">Show previous</button>
        <button ng-click="clearExpectedRoute()">Close</button>
        <br/>
        <button ng-click="chooseOtherLocation(1)">Up Index</button>
        <button ng-click="chooseOtherLocation(-1)">Down index</button>
    </div>

    <div class="legend" style="z-index: 0; position: absolute; bottom: 127px; right: 0px;">
        <div ng-show="drivers.length === 0">
            <input type="file" id="file-input"/>
            <button ng-click="loadFile()">Open</button>
        </div>

        <div>
            <div class="accordion" id="accordionExample" style="max-height: 400px; overflow: scroll">
              <div class="card" ng-repeat="driver in drivers">
                <div class="card-header" id="heading{{ $index }}">
                  <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ $index }}" aria-expanded="false" aria-controls="collapse{{ $index }}">
                      {{ driver.item.first_name }} {{ driver.item.last_name }} Orders: {{ driver.orders.length }}
                    </button>
                  </h5>
                </div>

                <div id="collapse{{ $index }}" class="collapse" aria-labelledby="heading{{ $index }}" data-parent="#accordionExample">
                  <div class="card-body" ng-repeat="order in driver.orders" ng-click="chooseOrder(order)">
                      {{ order.item.order_id }}, {{ order.requestsCount }}, {{ order.locationsCount }}
                  </div>
                </div>
              </div>
            </div>
            <div ng-if="chosenOrder">
                <p>Order id: {{ chosenOrder.item.order_id }}</p>
                <p>API requests count: {{ chosenOrder.requestsCount }}</p>
                <p>New API requests: {{ newRequestsCount.count }}</p>
                <p>Locations saved: {{ chosenOrder.locationsCount }}</p>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADx1csQkZ8t2PAot24FYRLiS61a6pU9aI&callback=initMap">
    </script>
    <script src="analyze_drivers_locations.js"></script>

</body>
</html>
